@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway&family=Roboto:wght@700&display=swap');

:root {
  --primary-color: #064454;
  --bg-color: #eee5e5;
  --text-color: #ffff;
  --padding: 20px;
  --border-radius: 7px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  width: 100vwh;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: var(--padding);
  font-family: 'Roboto', sans-serif;
}

header h1 {
  font-size: 38px;
  text-align: center;
}

main {
  min-height: 80vh;
  padding: var(--padding);
  max-width: 800px;
  margin: 0 auto;
}

main form {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

form input[type="text"],
button[type="submit"],.result div a {
  border: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: var(--border-radius);
  padding: calc(var(--padding)/2);
}

form input[type="text"] {
  flex-grow: 1;
}

form button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-left: 10px;
  cursor: pointer;
}

footer {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: var(--padding);
  text-align: center;
  font-size: 15px;
  position: fixed;
  width: 100%;
}

.result {
  font-family: 'Raleway', sans-serif;
  background-color: var(--text-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  margin-top: 20px;
  box-shadow:  0px 0px 10px rgba(0,0,0,0.2);
}

.result p {
  margin-top: 10px;
}

.result p[class="part-of-speech"]{
  font-style: italic;
  color: #808080;
  margin-top: 2px;
}
.result div{
  margin-top: 20px;
}
.result div a{
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.result li{
  padding: calc(var(--padding)/6);
  margin-left: 20px;
}

@media screen and (max-width:340px) {
  main form {
    flex-direction: column;
  }
  form button[type="submit"]{
    margin-left: 0px;
    margin-top: 10px;
  }
}
